

td
{
	vertical-align: top;
}
table
{

  
}
body
{
	background-color: #fff !important;
	
}


#tengah
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left:0;
	right: 0px;
	bottom: 65%;
	top:0px;
	width: 420px;
	height: 300px; /*border: 1px solid black;*/
	background-color: #1d1d1d !important; /*	background-image:url('../images/color_blue.png'); 	*/
 background-repeat: repeat ;              
  border-radius: 0px 0px 100px 100px;        
 
}

.tengah_tulisan
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;	
	right: 0px;
	left:0;
	top:60%;
	
	height:0px;
	
	text-align:center;
	background-color:#2C3539; /*	background-image:url('../images/color_blue.png'); 	*/
	font-family: Arial Unicode MS;
	
       
 
}

#tengah_tb
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 40px;
	font-family: Arial Unicode MS;
	font-size: 16px;

	color:White;
	width: 350px;
	
}

#grdlogin
{
	/* border: 1px solid black;*/
	width: 350px;
}

#btnlogin
{
	margin-top: 10px;
	text-align: center;
	font-family: Arial Unicode MS;
	font-size: small;
	
}
.judul
{
	font-size:60px;
}
.judul_2
{
	
	font-family: Arial Unicode MS;
	font-size: 20px;
	color:white;
	padding-top:100px;
	
}

